<div class="row second-section m-0" style="height: 50vh;">
  <div class="col-xl-6 pt-5" style="padding-left: 12rem;">
    <h1>BACKPACK</h1>
    <p>A backpack is a versatile, bag designed to be worn on the back and secured with two
      straps that go over the shoulders.Backpacks are made from a variety of materials, including canvas, nylon, polyester,
      and leather, and come in various sizes and styles to suit different needs.</p>
      <p>Matrial: Nylon</p>
      <p>Size: 30 x 40 x14 cm</p>
      <!-- <p>Color: Blue</p> -->
      <p>Branding: 1 Color LogoBrandingatone location</p>
      <button mat-flat-button color="primary">Add to cart</button>
  </div>
  <div class="col-xl-6 item-container">
    <div #rendererContainer class="renderer-container"></div>
  </div>
</div>
